# Pliki cache Pythona
__pycache__/
*.py[cod]
*$py.class

# Pliki dystrybucji
dist/
build/
*.egg-info/

# Środowisko wirtualne
venv/
env/
.env/

# IDE
.vscode/
.idea/

# Pliki systemowe
.DS_Store
Thumbs.db

winstaller.spec